.write {
  color: white;
  font-size: 20px;

  @media (max-width: 1199px) {
    font-size: 15px;
  }
  @media (max-width: 991px) {
    font-size: 10px;
  }
  @media (max-width: 767px) {
    font-size: 5px;
  }
  @media (max-width: 480px) {
    font-size: 2px;
  }

}



