.txtSize {
  color: blue;
  font-size: 20px;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace, Color;
  @media (max-width: 1199px) {
    font-size: 15px;
  }
  @media (max-width: 991px) {
    font-size: 10px;
  }
  @media (max-width: 767px) {
    font-size: 5px;
  }
  @media (max-width: 480px) {
    font-size: 2px;
  }
}

.txtTime {
  color: white;
  font-size: 40px;
  @media (max-width: 1199px) {
    font-size: 30px;
  }
  @media (max-width: 991px) {
    font-size: 20px;
  }
  @media (max-width: 767px) {
    font-size: 10px;
  }
  @media (max-width: 480px) {
    font-size: 5px;
  }
}

.timeTable {
  background-color: darkorange;
}

.timeDays {
  color: white;
  font-size: 80px;
  @media (max-width: 1199px) {
    font-size: 70px;
  }
  @media (max-width: 991px) {
    font-size: 60px;
  }
  @media (max-width: 767px) {
    font-size: 50px;
  }
  @media (max-width: 480px) {
    font-size: 30px;
  }
}

.newsCard {
  width: 372px;
  height: 50vh;
  @media (max-width: 1199px) {
    width: 350px;
    height: 45vh;
  }
  @media (max-width: 991px) {
    width: 250px;
    height: 40vh;
  }
  @media (max-width: 767px) {
    width: 150px;
    height: 35vh;
  }
  @media (max-width: 480px) {
    width: 100px;
    height: 30vh;
  }
}

.footerContact {
  font-size: 15px;
  @media (max-width: 1199px) {
    font-size: 12px;
  }
  @media (max-width: 991px) {
    font-size: 8px;
  }
  @media (max-width: 767px) {
    font-size: 6px;
  }

}

.modalChange {
  width: 372px;
  height: 50vh;
  @media (max-width: 1199px) {
    width: 350px;
    height: 45vh;
  }
  @media (max-width: 991px) {
    width: 250px;
    height: 40vh;
  }
  @media (max-width: 767px) {
    width: 150px;
    height: 15vh;
  }
  @media (max-width: 480px) {
    width: 100px;
    height: 30vh;
  }
}
